<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brandon.challongemobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensor" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChallongeHome"
            android:label="@string/title_activity_challonge_home"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.MainActivity" />
        </activity>
        <activity
            android:name=".TournamentViewActivity"
            android:label="@string/title_activity_tournament_view"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.ChallongeHome" />
        </activity>
        <activity
            android:name=".CreateTournament"
            android:label="@string/title_activity_create_tournament"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.ChallongeHome" />
        </activity>
        <activity
            android:name=".SearchTournaments"
            android:label="@string/title_activity_search_tournaments"
            android:screenOrientation="sensor" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.MainActivity" />
        </activity>
        <activity
            android:name=".Organizations"
            android:label="@string/title_activity_organizations"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name=".ShowBracket"
            android:label="@string/title_activity_show_bracket" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.TournamentViewActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="sensor"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.MainActivity" />
        </activity>
        <activity
            android:name=".ShowTournament"
            android:label="@string/title_activity_show_tournament" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.brandon.challongemobile.SearchTournaments" />
        </activity>
    </application>

</manifest>
