<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brandon.challongemobile" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.brandon.challongemobile.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.ChallongeHome"
            android:label="@string/title_activity_challonge_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.TournamentViewActivity"
            android:label="@string/title_activity_tournament_view"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.brandon.challongemobile.ButtonListActivity"
            android:label="@string/title_activity_button_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.CreateTournament"
            android:label="@string/title_activity_create_tournament"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.SearchTournaments"
            android:label="@string/title_activity_search_tournaments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.Organizations"
            android:label="@string/title_activity_organizations"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.ShowPlayer"
            android:label="@string/title_activity_show_player"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.TournamentOptions"
            android:label="@string/title_activity_tournament_options" >
        </activity>
        <activity
            android:name="com.example.brandon.challongemobile.ShowBracket"
            android:label="@string/title_activity_show_bracket" >
        </activity>
    </application>

</manifest>
